@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,dl,dd{
    margin:0;
}
body{/*모바일은 min-width 사용하지 않는다*/
    color:#333;
}
a{
    text-decoration:none;
    color:#333;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
.cf::after{
    content:"";
    display:block;
    clear:both;
}