@charset "utf-8";


/*메인슬라이더*/


.mainSlider{
    margin-top:20px;
    position:relative;
}
.mainSlider img{
    width:100%;
    display:block;
}
/*슬릭 arrow*/
.prevBtn,.nextBtn{
    background:url(../images/sliderLbtn.png)no-repeat;
    width:38px;
    height: 74px;
    position:absolute;
    top:50%;
    margin-top:-37px;
    text-indent:-9999px;
    z-index:1;
}
.nextBtn{
    background-image: url(../images/sliderRbtn.png);
    right: 0;
}
.prevBtn a,.nextBtn a{
    display:block;
    height: 100%;
}
/*슬릭 dots*/
.slick-slider button{
    outline: none;
    border: none;
}
.slick-dots{
    text-align: center;
    width:100%;
    overflow: hidden;
    position:absolute;
    bottom:0;
}
.slick-dots li{
    display:inline-block
}
.slick-slider{
    position: relative;
}
.slick-dots button{
    width:35px;
    height: 3px;
    background:url(../images/sliderNb1.png)no-repeat;
    text-indent: -9999px;
    margin-right: 5px;
    cursor:pointer;
}
.slick-active button{
    background:url(../images/sliderNb2.png)no-repeat;
    width:35px;
    height: 3px;
}
/*mainCon01*/
.mainCon01{
    text-align: center;
    margin-top:60px;
}
.mainCon01 h2{
    font-size:30px;
    margin-bottom:10px;
}
.mainCon01 p{
    font-size:15px;
    margin-bottom:30px;
}

.con01Txt{
    font-size:15px;
    box-sizing: border-box;
}
.con01Txt li{
    padding:10px;
    display:inline-block;
    border:1px solid #333;
    border-radius:50px;
    margin-right:5px;
}
.con01Txt li:last-child{
    margin-right: 0;
}
.con01Txt li a{}

.con01Txt01{
    
    margin-bottom: 35px;
}
.con01Txt01 li{
    
}
.con01Txt01 li a{}

.con01Txt02{}
.con01Txt02 li{
    
}
.con01Txt02 li a{}


/*mainCon02*/
.mainCon02{
    margin-top:60px;
    background:#f1f1f1;
    position:relative;
}
.con02Padding{
  width:60%;
    float:left;
    padding:10px 0;
}
.mainCon02 img{    
    width:100%;
    float:left;
    display:block;
}
.con02Txt{
    margin-top:20%;
    margin-left:10px;
    width:35%;
    float:left;
}
.mainCon02 h2{
    font-size:25px;
    
}
.mainCon02 p{
    font-size:9px;
}
.moreBtn{
    margin-top:20px;
    padding:5px;
    font-size:11px;
    width:70%;
    text-align: center;
    border:1px solid #333;
}
.moreBtn a{
    display:block;
    height: 100%;
}

/*mainCon03*/
.mainCon03{
    text-align: center;
    margin:150px 0;
}
.con03Tit{}
.con03Tit::after{
    content:"";
    display:block;
    width:80%;
    border-bottom:1px solid #333;
    margin:10px auto;
}
.con03Tit h2{}

.con03List{
}
.con03List h3{
    font-weight:700;
    font-size:20px;
    float:left;
}
.con03Top{
    padding:20px 20px 0 20px;
}
.con03Top img{
    width:100%;
    display:block;
}
.con03Top p{
    font-size:13px;
    line-height:20px;
    padding:10px 0;
}
.con03Bottom{}
.con03Bottom li{
    height: 50px;
    line-height: 50px;
    padding:0 30px;
    margin:10px 0;
}
.con03Bottom li::before{
    content:"";
    display:block;
    width:100%;
    border-top:1px solid #333;
    margin:3px 0;
}
.con03Bottom li h4{
    float:left;
}
.con03Bottom li>div{}
.con03Bottom li a{}
.con03Bottom li img{
    float:right;
}

.con3ArrowBtn{
    float:right;
    margin-top:5px;
}
.con3ArrowBtn img{}

/*mainCon04*/
.mainCon04{
    margin-bottom:100px;
}
.con04Bg{
}
.con04Bg img{
    max-width:100%;
}
.con04Img{
}
.con04Img li{
    width:33.33%;
    float:left;
}
.con04Img li a{}
.con04Img li img{
    max-width:100%;
    display:block;
}

/*mainCon05*/
.mainCon05{
    margin-bottom: 50px;
    text-align: center;
}
.mainCon05 h3{
    float:left;
    font-size:18px;
    margin-bottom:10px;
    margin-right:10px;
}
.mainCon05 p{
    font-size:10px;
    line-height:28px;
    color:#999;
}
.csTxt{padding:5px;}
.csIcon{
    display:flex;
    width:100%;
    margin:0 auto;
    text-align: center;
}
.csIcon li{    
    margin:0 5px;
    height: 50px;
    line-height:38px;
    width:100%;
    box-sizing: border-box;
    border:1px solid #999;
    vertical-align:middle;    
}
.csIcon li a{
    display:block;
    height: 100%;
    box-sizing: border-box;
}
.csIcon li img{
    float:left;
    width:32%;
    margin-top:5px;
    margin-left:3px;
}
.csIcon li h4{
    margin-top:5px;
    font-size:11px;
}
.csIcon li span{
    font-size:12px;
}
.csCall{line-height:17px;}